//contrasena

.box-contrasena{
  
  width: 80%;
  margin: auto;
}

.caja-contrasena{
  margin-top: 5em;
}
  
  .input-error{
    border-radius: 5px;
    height: 35px;
    width: 580px;
    border: 1px solid red;
    color: red;
    background: rgb(189, 157, 157) ;
  }