
  
  
  .form-sucursal{
    vertical-align:auto;
    line-height: 10px;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 150px;
  }

  .list-model{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .title-sucursal{
    max-width: 510px;
    margin: auto;
  }
  
  .title-sede{
    margin-left: 30px;
    font-weight: 900;
  }
  
  .form-input{
  
    border: none;
  
  }